{% extends "board/main.html" %}



{% block center %}
<div class="logg">
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <div class="loggin_user">
        <form class="form_main" method="post" name="loggin">
            {% csrf_token %}
            <div class="form_log">
                {{form.username.errors}}
                <label for="{{form.username.id_for_label}}">Ваш логін</label>
                {{form.username}}
            </div>
            <div class="form_log">
                
                <label for="form.password.id_for_label">Ваш пароль</label>
                {{form.password.errors}}
                {{form.password}}
                
            </div>
            <div class="form_log">
                <input class="submit" type="submit" value="Увійти">
                {{form.submit}}
            </div>
            
        </form>
    </div>
</div>

{% endblock %}