<div class="header_left">
        
</div>

<div class="header_center">
    <h2 class="logo">WORKERSTREE</h2>
</div>

<div class="header_right">
    {% if user.is_authenticated %}
       <a class="log_out" href="{% url 'users:logout' %}">
        <h2>Logout</h2>
       </a>
        <h2 class="user_name">{{user.username}}</h2>
    {% else %}
       <a class="login" href="{% url 'users:login' %}">
            <h2 class="user">Login</h2>
       </a> 
       
       <a class="regist" href="{% url 'users:regist' %}">
            <h2 class="user">Registration</h2>
        </a> 
    {% endif %}
</div>